.mainCardStyle {
  width: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);

}

.imageStyle {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 15px 15px 0 0;
}