.cardStyle {
  margin: 15px;
}

.mainCardImageStyle {
  width: 390px;
  border: 1px solid transparent;
  border-radius: 20px 20px 0 0;
  margin-bottom: 30px;
}

.yearPrice {
  color: gray;
  margin: 0;
  font-size: 13px
}

.annualPlanChangeLink {
  color: rgb(56, 42, 255);
  font-weight: bold;
  text-decoration: underline;
  font-size: 13px;
}

.annualPlanChangeLink:hover {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

.annualPlanHeader {
  font-weight: bold;
  margin: 5px 0;
}

.annualPlanCardStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  margin: 25px 0;
  width: 270px;
  padding: 0 20px;
}

.annualPlanCardImage {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 25px;
}

.annualPlanHeaderAndPrice {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.annualPlanStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}